@using System.Globalization
@model Weather.Models.WeatherViewModel;
@{
    ViewData["Title"] = "Question";
}
<div class="row align-content-center">
    <div class="col-lg-12 row">
        <div class="dropdown col-lg-3">
            <div onclick="myFunction(event)" id="dropbtn" class="border border-secondary row btnfild">
                <div class="col-lg-5">
                    <div class="nameDay mt-3 ml-0"><b class="h5">Сейчас</b></div>
                    <div class=" mt-0 ml-1 ">@DateTime.Now.Hour:@DateTime.Now.Minute</div>
                </div>
                <div class=" col-lg-6 imageBox mt-2 pl-5 "> <img src="http://openweathermap.org/img/wn/@(Model.NowWeatherInfo.WeatherList[0].Icon).png" /></div>
                <div class="col-lg-10">
                    <div class="temp text-center">@Model.NowWeatherInfo.Main.Temperature</div>
                    <div class="tempfeel text-center mb-2 pl-2">
                        <span class="txt mr-2"> <b>По ощущению</b> </span> @Model.NowWeatherInfo.Main.FeelsTemperature
                    </div>
                </div>
            </div>

            <div id="myDropdown" class="dropdown-content">
                <div class="mt-3 ml-0 text-center"><b class="h4 nameDayAndMonDrop ">@DateTime.Now.ToString("ddd, d MMMM ", CultureInfo.GetCultureInfo("ru-ru")),@DateTime.Now.Hour:@DateTime.Now.Minute</b></div>
                <div class="col-lg-12 mt-5 text-center h1 txt-temp">@Model.NowWeatherInfo.Main.Temperature</div>
                <div class="text-center ">
                    <span class="txtDrop text-center mr-3"><b>По ощущению</b></span>
                    @Model.NowWeatherInfo.Main.FeelsTemperature
                </div>
                <div class="col-lg-12 text-center mt-4">@Model.NowWeatherInfo.WeatherList[0].Description</div>
                <div class="col-lg-12 row bottomDiv m-0 p-0 pb-1 pr-1 mt-3">
                    <div class="col-lg-4">
                        <div class="col-lg-1">Ветер</div>
                        <div class="bigGradus col-lg-12">@Model.NowWeatherInfo.Wind.WindSpeed<span class="unit">м/с</span></div>

                    </div>
                    <div class="col-lg-5">
                        <div class="col-lg-1">Давление</div>
                        <div class="bigGradus ml-2">@Model.NowWeatherInfo.Main.Pressure<span class="unit ">мм рт.ст.</span></div>

                    </div>
                    <div class="col-lg-3">
                        <div class="col-lg-1">Влажность</div>
                        <div class="bigGradus ml-2">@Model.NowWeatherInfo.Main.Humidity<span class="unit">%</span></div>

                    </div>
                </div>
            </div>
        </div>
        <div class="dropdown col-lg-3  ml-lg-2 ml-sm-0 ">
            <div onclick="myFunction(event)" id="dropbtn" class="border border-secondary row btnfild">
                <div class="col-lg-8">
                    <div class="mt-3 ml-0"><b class="h6 nameDayAndMon">@DateTime.Now.ToString("ddd, d MMMM ", CultureInfo.GetCultureInfo("ru-ru"))</b></div>
                    <div class=" mt-0 ml-1 txtDay">Сегодня</div>
                </div>
                <div class=" col-lg-4 imageBox mt-2 pl-2 "> <img src="http://openweathermap.org/img/wn/@(Model.WeatherFor5Days.Daily[0].Weather[0].Icon).png" /></div>
                <div class="row col-lg-8 col-md-12 ml-2 mb-2 mt-1">
                    <div class="temp-min  text-center mt-2 pt-2">@Model.WeatherFor5Days.Daily[0].Temp.MinTemp</div>
                    <div class="temp-max text-center mb-2 pl-2"> @Model.WeatherFor5Days.Daily[0].Temp.MaxTemp</div>

                </div>
            </div>

            <div id="myDropdown" class="dropdown-content">
                <div class="mt-3 col-lg-12 row">
                    <div class="pl-5 txtDrop ">
                        <p><span class="font-weight-bold bg-day">Утром:</span>@Model.WeatherFor5Days.Daily[0].Temp.Morning</p>
                        <p><span class="font-weight-bold bg-day">Днем:</span> @Model.WeatherFor5Days.Daily[0].Temp.Day</p>

                    </div>
                    <div class=" pl-5 txtDrop">
                        <p><span class=" font-weight-bold bg-night">Вечером:</span> @Model.WeatherFor5Days.Daily[0].Temp.Evening</p>
                        <p><span class="font-weight-bold bg-night">Ночью:</span> @Model.WeatherFor5Days.Daily[0].Temp.Night</p>
                    </div>
                </div>

                <div class="col-lg-12 row bottomDiv m-0 p-0 pb-1 pr-1 mt-3">
                    <div class="col-lg-4">
                        <div class="col-lg-1">Вероятность осадков</div>
                        <div class="bigGradus col-lg-12">@((@Model.WeatherFor5Days.Daily[0].Pop)*100)<span class="unit">%</span></div>

                    </div>
                    <div class="col-lg-5">
                        <div class="col-lg-1">Облачность</div>
                        <div class="bigGradus ml-2">@Model.WeatherFor5Days.Daily[0].Clouds<span class="unit ">%</span></div>

                    </div>
                    <div class="col-lg-3">
                        <div class="col-lg-1">Влажность</div>
                        <div class="bigGradus ml-2">@Model.WeatherFor5Days.Daily[0].Humidity<span class="unit">%</span></div>

                    </div>
                </div>
            </div>
        </div>

        <div class="dropdown col-lg-3 ml-lg-2 ml-sm-0">
            <div onclick="myFunction(event)" id="dropbtn" class="border border-secondary row btnfild">
                <div class="row">
                    <div class="ml-1 col-lg-7">
                        <div class="h4 mt-2 text-center ">Погода на неделю</div>
                        <div class=" ml-0 text-center"><b class="h2 nameDayAndMon text-center">c @Model.WeatherFor5Days.Daily[0].Dt.ToString("M", CultureInfo.GetCultureInfo("ru-ru")) по @Model.WeatherFor5Days.Daily[6].Dt.ToString("M", CultureInfo.GetCultureInfo("ru-ru"))</b></div>

                    </div>
                    <div class="col-lg-3 pb-5 pt-3 ">
                        <i class=" mt-3 ml-1 col-lg-2 fas fa-light fa-temperature-high text-color"></i>
                      
                    </div>
                </div>


            </div>
           
            <div id="myDropdown" class="dropdown-content">
                @foreach (var item in Model.WeatherFor5Days.Daily)
                {
                <div class="text-center font-weight-bold mt-5"> @item.Dt.ToString("dddd, d MMMM ", CultureInfo.GetCultureInfo("ru-ru"))</div>
                    <table class="table ">
                        <tbody>
                        <tr>
                            <th >Ночь</th>
                            <td>@item.Temp.Night</td>
                          
                        </tr>
                        <tr>
                            <th>Утро</th>
                            <td>@item.Temp.Morning</td>
                            
                        </tr>
                        <tr>
                            <th >День</th>
                            <td>@item.Temp.Day</td>
                            
                        </tr>
                        <tr>
                            <th>Вечером</th>
                            <td>@item.Temp.Evening</td>
                           
                        </tr>

                           
                        </tbody>
                    </table>
                    <div id="accordion">
                        <div class="btn bg-table some " data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            <div class="row col-lg-12"><div class="col-lg-2" >
                                    <img src="http://openweathermap.org/img/wn/@(item.Weather[0].Icon).png"/>

                                </div>
                                <div class="col-lg-7 pt-1" >
                                    <div class="text-center">Вероятность осадков</div>
                                    <div class="text-center">@((@item.Pop) * 100)<span >%</span></div>

                                </div>

                                <div class="col-lg-3 pt-1">
                                    ˅
                                </div>
                                </div>
                        </div>

                        <div id="collapseOne" class=" collapse ">
                            <div class="mr-3 col-lg-12 row">
                                <div class="col-lg-4">
                                    <div class="col-lg-1">Ветер</div>
                                    <div class="bigGradus ">@item.WindSpeed<span class="unit">м/с</span></div>

                                </div>
                                <div class="col-lg-5">
                                    <div class="col-lg-1">Давление</div>
                                    <div class="bigGradus ml-2">@item.Pressure<span class="unit ">мм рт.ст.</span></div>

                                </div>
                                <div class="col-lg-3">
                                    <div class="col-lg-1">Облачность</div>
                                    <div class="bigGradus ml-2">@item.Clouds<span class="unit ">%</span></div>

                                </div>
                                
                            </div>
            
                            
        
                        </div>

                    </div>
                 
                 }
               
            </div>
        </div>
    </div>
    

</div>
<script>
    function myFunction(event) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
            var openDropdown = dropdowns[i];
            if (openDropdown.classList.contains('show')) {
                openDropdown.classList.remove('show');
            }
        }
        var result = event.target.closest(".dropdown");
        var result1 = result.querySelector('#myDropdown');

        result1.classList.toggle("show");
    }

</script>
@*<div class=" row " id="accordion">
    <a class="btn bg-table" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
        <div class="col-lg-2">
            <img src="http://openweathermap.org/img/wn/@(item.Weather[0].Icon).png"/>
        </div>
        <div class="col-lg-2">
            <div class="">Вероятность осадков</div>
            <div class=" col-lg-12">@((@Model.WeatherFor5Days.Daily[0].Pop)*100)<span class="unit">%</span></div>
        </div> 
        <div class="col-lg-2">
            ˅
        </div>
    </a>

    <div id="collapseOne" class=" collapse ">
        <p>Давление @item.Pressure </p>
        <p>Облачность @item.Clouds</p>
        <p>Ветер @item.WindSpeed </p>
    </div>
</div>*@